* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
#contents {
    background: linear-gradient(180deg, white, #007bff);
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

html {
    height: 100%;
    font-family: Raleway-SemiBold, sans-serif;
}

#rightposcont {
    background-color: lightblue;
    border: 15px solid grey;
    padding: 20px;
    margin: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}