* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-top {
    height: 19vh;
}

.nav-top img {
    height: 83px;
    margin: 30px;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.division {
    height: 2px;
    display: flex;
    background-color: black;
    width: 800px;
    margin-left: 400px;
    margin-top: 10px;
    top: 100px;
}

.warpper img {
    width: 500px;
    height: 500px;
}